#info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#setting-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 30px;
}
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.info-ms {
    font-size: 1.5em;
    font-weight: bold;
    color: lightblue;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blink {
    animation: blink 1s infinite;
  }